# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log

# files from CMake
CMakeCache.txt
Makefile
CMakeFiles/
cmake_install.cmake
lib/CMakeFiles/
lib/Makefile
lib/cmake_install.cmake
prog/CMakeFiles/
prog/Makefile
prog/cmake_install.cmake

# module, libs and binary executables
*.mod
*.a
*.x

# Exclude the output files
*.xyz
